<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1><i class="icons-default icons-{{cartridgeType}} big-pro-icons"></i> {{cartridgeInfo.cartridgeAlias}}-<span>({{cartridgeInfo.displayName}} - {{cartridgeInfo.version}})</span></h1>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div style="margin-bottom:20px;">{{cartridgeInfo.description}}</div>

        <strong>ActiveInstances:</strong>
        <div>{{cartridgeInfo.activeInstances}}</div>

        <strong>CartridgeAlias:</strong>
        <div>{{cartridgeInfo.cartridgeAlias}}</div>

        <strong>CartridgeType:</strong>
        <div>{{cartridgeInfo.cartridgeType}}</div>

        <strong>HostName:</strong>
        <div>{{cartridgeInfo.hostName}}</div>

        <strong>Version:</strong>
        <div>{{cartridgeInfo.version}}</div>

        <strong>Tenancy Model:</strong>
         {{#if cartridgeInfo.multiTenant}}
            <div>true</div>

        {{else}}
            <div>false</div>
         {{/if}}


        <strong>Provider:</strong>
        <div>{{cartridgeInfo.provider}}</div>

        {{#if cartridgeInfo.repoURL }}
           <strong>RepoURL</strong>
            <div>{{cartridgeInfo.repoURL}}</div>
        {{/if}}

        {{#ifCond cartridgeInfo.provider "==" "data"}}

            <strong>UserName</strong>
            <div>{{cartridgeInfo.dbUserName}}</div>

            <strong>Password</strong>
            <div>{{cartridgeInfo.password}}</div>

        {{/ifCond}}
        {{#if clusterinfo.member}}
            <strong>Members Private ip(s):</strong>
            <div>
                {{#each clusterinfo.member}}
                  {{memberIp}}
                {{/each}}
             </div>

             <strong>Members Public ip(s):</strong>
            <div>
                {{#each clusterinfo.member}}
                  {{memberPublicIp}}
                {{/each}}
             </div>

        {{/if}}

        {{#if lbclusterinfo.member}}
            <strong>LB Private ip:</strong>
            <div>
                {{#each lbclusterinfo.member}}
                          {{memberIp}};
                {{/each}}
             </div>

             <strong>LB Public ip:</strong>
            <div>
                {{#each lbclusterinfo.member}}
                          {{memberPublicIp}};
                {{/each}}
             </div>

        {{/if}}

        <div>
        </div>


    </div>
</div>
</div>
