<!--

 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.

-->

<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1><i class="icons-default icons-{{cartridgeType}} big-pro-icons"></i> {{serviceGroup}}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {{#each cartridges}}
            <div style="padding: 10px; margin:10px 0;border: solid 1px #ccc;background: #efefef;">
                <div style="margin-bottom:20px;">{{description}}</div>

                <div class="data-title">Access URLs:</div>
                {{#each portMappings}}
                <div>
                    <a target="_blank" href="{{protocol}}://{{../hostName}}:{{proxyPort}}">{{protocol}}://{{../hostName}}:{{proxyPort}}</a>
                </div>
                {{/each}}

                <div class="data-title">ActiveInstances:</div>
                <div>{{activeInstances}}</div>

                <div class="data-title">CartridgeAlias:</div>
                <div>{{cartridgeAlias}}</div>

                <div class="data-title">CartridgeType:</div>
                <div>{{cartridgeType}}</div>

                <div class="data-title">HostName:</div>
                <div>{{hostName}}</div>

                <div class="data-title">Version:</div>
                <div>{{version}}</div>

                <div class="data-title">Tenancy Model:</div>
                 {{#if multiTenant}}
                    <div>Multi Tenant</div>

                {{else}}
                    <div>Single Tenant</div>
                 {{/if}}


                <div class="data-title">Provider:</div>
                <div>{{provider}}</div>

                {{#if repoURL }}
                   <div class="data-title">RepoURL</div>
                    <div>{{repoURL}}</div>
                {{/if}}

                {{#ifCond provider "==" "data"}}

                    <div class="data-title">UserName</div>
                    <div>{{dbUserName}}</div>

                    <div class="data-title">Password</div>
                    <div>{{password}}</div>

                {{/ifCond}}
                {{#if clusterinfo.member}}
                    <div class="data-title">Members Private ip(s):</div>
                    <div>
                        {{#each clusterinfo.member}}
                          {{memberIp}}
                        {{/each}}
                     </div>

                     <div class="data-title">Members Public ip(s):</div>
                    <div>
                        {{#each clusterinfo.member}}
                          {{memberPublicIp}}
                        {{/each}}
                     </div>

                {{/if}}

                {{#if lbclusterinfo.member}}
                    <div class="data-title">LB Private ip:</div>
                    <div>
                        {{#each lbclusterinfo.member}}
                                  {{memberIp}};
                        {{/each}}
                     </div>

                     <div class="data-title">LB Public ip:</div>
                    <div>
                        {{#each lbclusterinfo.member}}
                                  {{memberPublicIp}};
                        {{/each}}
                     </div>

                {{/if}}

                <div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
