<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1><i class="icons-default icons-{{cartridgeType}} big-pro-icons"></i> {{cartridgeInfo.cartridgeAlias}}-<span>({{cartridgeInfo.displayName}} - {{cartridgeInfo.version}})</span></h1>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col-lg-12">

        <div style="margin-bottom:20px;">{{cartridgeInfo.description}}</div>

        <div class="data-title">Access URLs:</div>
        <div>
            <a target="_blank" href="http://{{cartridgeInfo.cartridgeAlias}}.{{cartridgeInfo.hostName}}">http://{{cartridgeInfo.cartridgeAlias}}.{{cartridgeInfo.hostName}}</a>
        </div>
        <div>
            <a target="_blank" href="https://{{cartridgeInfo.cartridgeAlias}}.{{cartridgeInfo.hostName}}">https://{{cartridgeInfo.cartridgeAlias}}.{{cartridgeInfo.hostName}}</a>
        </div>


        <div class="data-title">ActiveInstances:</div>
        <div>{{cartridgeInfo.activeInstances}}</div>

        <div class="data-title">CartridgeAlias:</div>
        <div>{{cartridgeInfo.cartridgeAlias}}</div>

        <div class="data-title">CartridgeType:</div>
        <div>{{cartridgeInfo.cartridgeType}}</div>

        <div class="data-title">HostName:</div>
        <div>{{cartridgeInfo.hostName}}</div>

        <div class="data-title">Version:</div>
        <div>{{cartridgeInfo.version}}</div>

        <div class="data-title">Tenancy Model:</div>
         {{#if cartridgeInfo.multiTenant}}
            <div>true</div>

        {{else}}
            <div>false</div>
         {{/if}}


        <div class="data-title">Provider:</div>
        <div>{{cartridgeInfo.provider}}</div>

        {{#if cartridgeInfo.repoURL }}
           <div class="data-title">RepoURL</div>
            <div>{{cartridgeInfo.repoURL}}</div>
        {{/if}}

        {{#ifCond cartridgeInfo.provider "==" "data"}}

            <div class="data-title">UserName</div>
            <div>{{cartridgeInfo.dbUserName}}</div>

            <div class="data-title">Password</div>
            <div>{{cartridgeInfo.password}}</div>

        {{/ifCond}}
        {{#if clusterinfo.member}}
            <div class="data-title">Members Private ip(s):</div>
            <div>
                {{#each clusterinfo.member}}
                  {{memberIp}}
                {{/each}}
             </div>

             <div class="data-title">Members Public ip(s):</div>
            <div>
                {{#each clusterinfo.member}}
                  {{memberPublicIp}}
                {{/each}}
             </div>

        {{/if}}

        {{#if lbclusterinfo.member}}
            <div class="data-title">LB Private ip:</div>
            <div>
                {{#each lbclusterinfo.member}}
                          {{memberIp}};
                {{/each}}
             </div>

             <div class="data-title">LB Public ip:</div>
            <div>
                {{#each lbclusterinfo.member}}
                          {{memberPublicIp}};
                {{/each}}
             </div>

        {{/if}}

        <div>
        </div>


    </div>
</div>
</div>
