<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1><i class="icons-default icons-{{cartridgeType}} big-pro-icons"></i> {{cartridgeInfo.cartridgeAlias}}-<span>({{cartridgeInfo.displayName}} - {{cartridgeInfo.version}})</span></h1>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div style="margin-bottom:20px;">{{cartridgeInfo.description}}</div>

        <strong>activeInstances</strong>
        <div>{{cartridgeInfo.activeInstances}}</div>

        <strong>cartridgeAlias</strong>
        <div>{{cartridgeInfo.cartridgeAlias}}</div>

        <strong>cartridgeType</strong>
        <div>{{cartridgeInfo.cartridgeType}}</div>


        <strong>hostName</strong>
        <div>{{cartridgeInfo.hostName}}</div>

        <strong>multiTenant</strong>
        <div>{{cartridgeInfo.multiTenant}}</div>

        <strong>provider</strong>
        <div>{{cartridgeInfo.provider}}</div>

        <strong>repoURL</strong>
        <div>{{cartridgeInfo.repoURL}}</div>
    </div>
</div>
</div>
