<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{title}}</h1>
        </div>
    </div>
</div>
{{#each cartridges}}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="box-container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="box-left"><i class="icons-default icons-{{cartridgeType}} big-pro-icons"></i></div>
                    </div>
                    <div class="col-lg-9">
                        {{#if loadBalancer}}
                            <h3>{{displayName}} - {{version}}</h3>
                            <div class="cartridge-description">{{description}}</div>
                            <div class="lb-description">This will be auto subscribed for you</div>

                        {{else}}
                            <a href="{{url "/subscribe_cartridge.jag"}}?cartridgeType={{cartridgeType}}"><h3>{{displayName}} - {{version}}</h3></a>
                            <div class="cartridge-description">{{description}}</div>
                            <div class="cartridge-description">
                                {{#if multiTenant}}
                                    <i class="fa fa-users"></i> Multi Tenant Enabled
                                {{else}}
                                    <i class="fa fa-user"></i> Single Tenant
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-empty-page">
                <strong>There are no Cartridges available for you.</strong>
                {{#isAllowed "configure"}}
                    Go to <a href="{{url "/configure_stratos.jag"}}">Configure Stratos</a> page to start.
                {{else}}
                    Please contact your system administrator.
                {{/isAllowed}}
            </div>
        </div>
    </div>
</div>
{{/each}}