<!--

 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.

-->

<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{title}}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {{#each cartridges}}
            {{#if serviceGroup}}
            <div class="col-md-6">
                <div class="box-container">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-push-2 col-lg-10"><a><h3>{{serviceGroup}}</h3></a></div>
                                </div>
                            </div>


                            <div class="container">
                                {{#each items}}
                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="box-left"><i class="icons-default icons-{{cartridgeType}} big-pro-icons"></i></div>
                                    </div>
                                    <div class="col-lg-10">
                                        {{#if loadBalancer}}
                                        <h3>{{displayName}} - {{version}}</h3>
                                        <div class="cartridge-description">{{description}}</div>
                                        <div class="lb-description">This will be auto subscribed for you</div>

                                        {{else}}
                                        <a href="{{url "/subscribe_cartridge.jag"}}?cartridgeType={{cartridgeType}}"><h3>{{displayName}} - {{version}}</h3></a>
                                        <div class="cartridge-description">{{description}}</div>
                                        <div class="cartridge-description">
                                            {{#if multiTenant}}
                                            <i class="fa fa-users"></i> Multi Tenant Enabled
                                            {{else}}
                                            <i class="fa fa-user"></i> Single Tenant
                                            {{/if}}
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
        </div>

            {{else}}
                <div class="col-md-6">
                    <div class="box-container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="box-left"><i class="icons-default icons-{{cartridgeType}} big-pro-icons"></i></div>
                            </div>
                            <div class="col-lg-9">
                                {{#if loadBalancer}}
                                <h3>{{displayName}} - {{version}}</h3>
                                <div class="cartridge-description">{{description}}</div>
                                <div class="lb-description">This will be auto subscribed for you</div>

                                {{else}}
                                <a href="{{url "/subscribe_cartridge.jag"}}?cartridgeType={{cartridgeType}}"><h3>{{displayName}} - {{version}}</h3></a>
                                <div class="cartridge-description">{{description}}</div>
                                <div class="cartridge-description">
                                    {{#if multiTenant}}
                                    <i class="fa fa-users"></i> Multi Tenant Enabled
                                    {{else}}
                                    <i class="fa fa-user"></i> Single Tenant
                                    {{/if}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}

        {{else}}
        <div class="col-lg-12">
            <div class="alert alert-info alert-empty-page">
                <strong>There are no Cartridges available for you.</strong>
                {{#isAllowed "configure"}}
                    Go to <a href="{{url "/configure_stratos.jag"}}">Configure Stratos</a> page to start.
                {{else}}
                    Please contact your system administrator.
                {{/isAllowed}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
