{{#if login}}
        <div class="top-blue-strip"></div>
        <div class="login-logo-section"><a  href="{{url "/"}}"><img src="{{url "/themes/theme1/ui/img/logo-login.png"}}"/></a></div>
        <style>
        body {
            padding-top: 0;
            padding-bottom: 0;
        }
    </style>
{{/if}}
{{#unless login}}
<div class="navbar navbar-inverse navbar-fixed-top main-menu">
<div class="shadow-wrapper">
        <div class="top-blue-strip"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <a class="navbar-brand" href="{{url "/"}}"><img src="{{url "/themes/theme1/ui/img/logo-inside.png"}}"/></a>
                 </div>
                 <div class="col-lg-9 custom-nav">
                    <ul class="pull-left">
                        <!-- li {{#if dashboard}} class="active" {{/if}}><a href="{{url "/dashboard.jag"}}"><i class="fa fa-dashboard"></i> <span><br>Dashboard</span></a></li -->
                        <li {{#if my_cartridges}} class="active" {{/if}}><a href="{{url "/"}}"><i class="fa fa-tasks"></i>  <span><br>My Cartridges</span></a></li>
                        {{#isAllowed "configure"}}<li {{#if configure_stratos}} class="active" {{/if}}><a href="{{url "/configure_stratos.jag"}}"><i class="fa fa-cogs"></i> <span><br>Configure Stratos</span></a></li>{{/isAllowed}}
                        {{#isAllowed "tenant-mgt"}}<li {{#if tenant_mgt}} class="active" {{/if}}><a href="{{url "/tenant_management.jag"}}"><i class="fa fa-user"></i> <span><br>Tenant Mgt</span></a></li>{{/isAllowed}}
                     </ul>
                     <ul class="pull-right">
                     <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><br /> {{#user}}{{/user}} <b class="caret"></b></a>
                             <ul class="dropdown-menu">
                                 <!--li><a><i class="fa fa-file-text-o"></i> View Profile</a></li -->
                                <li>
                                    <a href="{{url "/controllers/logout.jag"}}"><i class="fa fa-sign-out"></i> logout</a>
                                </li>
                             </ul>
                           </li>
                     </ul>
                 </div>
            </div>
            <!--/.navbar-collapse -->
        </div><!-- End container -->
    </div>
    <div class="breadcrumb-strip">
        <div class="container">
            <div class="row">
                {{#unless wizard_on}}
                    {{#unless config_on}}
                        <div class="col-lg-3">
                            <a class="btn {{button.class_name}}" href="{{url button.link }}"><i class="{{button.class_icon}}"></i> {{button.name}}</a>
                        </div>
                        {{#if has_action_buttons}}
                        <div class="col-lg-4 action-buttons">
                            <button class="btn btn-default" onclick="manage_selected('activate')" type="button">Activate</button>
                            <button class="btn btn-default" onclick="manage_selected('deactivate')">Deactivate</button>
                            <button class="btn btn-default" onclick="manage_selected('delete')">Delete</button>
                        </div>
                        <div class="col-lg-5 help-section">
                            {{#if has_help}}
                                <i class="icons-help"></i>
                                <p>{{help}}</p>
                            {{/if}}
                        </div>
                        {{else}}
                        <div class="col-lg-9 help-section">
                            {{#if has_help}}
                                <i class="icons-help"></i>
                                <p>{{help}}</p>
                            {{/if}}
                        </div>
                        {{/if}}
                    {{/unless}}  <!-- configon -->
                {{/unless}}  <!-- wizardon -->





                {{#if config_on}}
                <div class="col-lg-12">
                    {{#if config_status.first_use}}
                        <ul class="sub-menu-inactive">
                            <li>Partitions</li>
                            <li>Auto scale Policies</li>
                            <li>Deployments Policies</li>
                            <li>LBs</li>
                            <li>Cartridges</li>
                            <li>Multi-Tenant Services</li>
                        </ul>
                    {{else}}
                        <ul class="sub-menu-wizard non-wizard">
                            <li {{#ifCond step "==" 1 }}class="active"{{/ifCond}}>
                                <a href="{{url "/configure_stratos.jag?step=1" }}">
                                <div class="wizard-number">1</div>
                                <div>Partitions</div>
                                </a>
                            </li>

                            <li {{#ifCond step "==" 2 }}class="active"{{/ifCond}}>
                                <a href="{{url "/configure_stratos.jag?step=2" }}">
                                <div class="wizard-number">2</div>
                                <div>Auto scale Policies</div>
                                </a>
                            </li>

                            <li {{#ifCond step "==" 3 }}class="active"{{/ifCond}}>
                                <a href="{{url "/configure_stratos.jag?step=3" }}">
                                <div class="wizard-number">3</div>
                                <div>Deployments Policies</div>
                                </a>
                            </li>



                            <li {{#ifCond step "==" 4 }}class="active"{{/ifCond}}>
                                <a href="{{url "/configure_stratos.jag?step=4" }}">
                                <div class="wizard-number">4</div>
                                <div>LBs</div>
                                </a>
                            </li>



                            <li {{#ifCond step "==" 5 }}class="active"{{/ifCond}}>
                                <a href="{{url "/configure_stratos.jag?step=5" }}">
                                <div class="wizard-number">5</div>
                                <div>Cartridges</div>
                                </a>
                            </li>


                            <li {{#ifCond step "==" 6 }}class="active"{{/ifCond}}>
                                <a href="{{url "/configure_stratos.jag?step=6" }}">
                                    <div class="wizard-number">6</div>
                                    <div>Multi-Tenant Services</div>
                                </a>
                            </li>

                        </ul>
                    {{/if}}
                    {{#unless wizard_on}}
                        {{#unless config_status.first_use}}
                            <div class="pull-right">
                                <a href="{{url "/configure_stratos_wizard.jag" }}" class="btn btn-important">
                                    <div>Configuration Wizard</div>
                                </a>
                            </div>
                        {{/unless}}
                    {{/unless}}
                    </div>

                {{/if}}


                {{#if wizard_on}}
                <div class="col-lg-12">

                    <ul class="sub-menu-wizard">
                        <li class="active">
                            <a href="{{url "/configure_stratos_wizard.jag?step=1" }}">
                                <div class="wizard-number">1</div>
                                <div>Partitions</div>
                            </a>
                        </li>
                        <li class="sub-menu-wizard-pointer active-pointer {{#unless wizard_on_2}}active-no-background{{/unless}}"></li>



                        {{#if wizard_on_2}}
                        <li class="active">
                            <a href="{{url "/configure_stratos_wizard.jag?step=2" }}">
                                <div class="wizard-number">2</div>
                                <div>Auto scale Policies</div>
                            </a>
                        </li>
                        <li class="sub-menu-wizard-pointer active-pointer {{#unless wizard_on_3}}active-no-background{{/unless}}"></li>
                        {{else}}
                        <li>
                            <div class="in-active-wizard-item">
                                <div class="wizard-number">2</div>
                                <div>Auto scale Policies</div>
                            </div>
                        </li>
                        <li class="sub-menu-wizard-pointer"></li>
                        {{/if}}


                        {{#if wizard_on_3}}
                        <li class="active">
                            <a href="{{url "/configure_stratos_wizard.jag?step=3" }}">
                                <div class="wizard-number">3</div>
                                <div>Deployments Policies</div>
                            </a>
                        </li>
                        <li class="sub-menu-wizard-pointer active-pointer {{#unless wizard_on_4}}active-no-background{{/unless}}"></li>
                        {{else}}
                        <li>
                            <div class="in-active-wizard-item">
                                <div class="wizard-number">3</div>
                                <div>Deployments Policies</div>
                            </div>
                        </li>
                        <li class="sub-menu-wizard-pointer"></li>
                        {{/if}}


                        {{#if wizard_on_4}}
                        <li class="active">
                            <a href="{{url "/configure_stratos_wizard.jag?step=4" }}">
                                <div class="wizard-number">4</div>
                                <div>LBs</div>
                            </a>
                        </li>
                        <li class="sub-menu-wizard-pointer active-pointer {{#unless wizard_on_5}}active-no-background{{/unless}}"></li>
                        {{else}}
                        <li>
                            <div class="in-active-wizard-item">
                                <div class="wizard-number">4</div>
                                <div>LBs</div>
                            </div>
                        </li>
                        <li class="sub-menu-wizard-pointer"></li>
                        {{/if}}


                        {{#if wizard_on_5}}
                        <li class="active">
                            <a href="{{url "/configure_stratos_wizard.jag?step=5" }}">
                                <div class="wizard-number">5</div>
                                <div>Cartridges</div>
                            </a>
                        </li>
                        <li class="sub-menu-wizard-pointer active-pointer {{#unless wizard_on_6}}active-no-background{{/unless}}"></li>
                        {{else}}
                        <li>
                            <div class="in-active-wizard-item">
                                <div class="wizard-number">5</div>
                                <div>Cartridges</div>
                            </div>
                        </li>
                        <li class="sub-menu-wizard-pointer"></li>
                        {{/if}}


                        {{#if wizard_on_6}}
                        <li class="active">
                            <a href="{{url "/configure_stratos_wizard.jag?step=6" }}">
                                <div class="wizard-number">6</div>
                                <div>Multi-Tenant Services</div>
                            </a>
                        </li>
                        <li class="sub-menu-wizard-pointer active-pointer no-background"></li>
                        {{else}}
                        <li>
                            <div class="in-active-wizard-item">
                                <div class="wizard-number">6</div>
                                <div>Multi-Tenant Services</div>
                            </div>
                        </li>
                        <li class="sub-menu-wizard-pointer no-background"></li>
                        {{/if}}


                    </ul>

                </div>
                {{/if}}
            </div>
        </div>
    </div>

    {{#if error}}
    <div class="info-bar error">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <i class="icon-exclamation"></i>{{error_msg}}</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
        {{#if deploy_status}}
           <div class="info-bar success">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <i class="icon-exclamation"></i>{{type}} successful.</a>
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
            {{#if config_status.not_complete}}
                <div class="info-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-6">
                                <i class="icon-exclamation"></i> Configure Stratos is not completed. <a href="{{url "/configure_stratos_wizard.jag"}}">Take the Wizard</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/if}}

    {{/if}}

</div>

<form action="{{url "/controllers/manageTenants.jag"}}" id="manageTenantsForm">
<input type="hidden" value="" id="foo" name="foo" />
<input type="hidden" value="" id="state" name="state" />
</form>

{{/unless}}

