<!--

 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.

-->

<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{title}}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {{#each mycartridges}}
            {{#if serviceGroup}}
                <div class="col-md-6">
                    <div class="box-container">
                        <div class="row">

                            <div class="col-lg-12">
                                {{#unless loadBalancer}}
                                <div class="un-subscribe-container"><a class="un-subscribe un-subscribe-btn" data-alias="{{cartridgeAlias}}">Un-subscribe <i class=" icons-circle-close"></i></a></div>
                                {{/unless}}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-push-2 col-lg-10"><a><h3>{{serviceGroup}}</h3></a></div>
                                    </div>
                                </div>

                                <div class="container">
                                {{#each items}}
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="box-left"><i class="icons-default icons-{{cartridgeType}} big-pro-icons"></i></div>
                                        </div>
                                        <div class="col-lg-10">
                                            <a href="{{url "/cartridge_info.jag?alias="}}{{cartridgeAlias}}"><h3>{{cartridgeAlias}}-<span>({{displayName}} - {{version}})</span></h3></a>
                                            <div class="cartridge-description">{{description}}</div>
                                            <div class="cartridge-description">{{repoURL}}  <a class="js_syncRepo" data-value="{{cartridgeAlias}}"><i class="icons-reload"></i></a></div>
                                        </div>
                                    </div>
                                {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="col-md-6">
                    <div class="box-container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="box-left"><i class="icons-default icons-{{cartridgeType}} big-pro-icons"></i></div>
                            </div>
                            <div class="col-lg-9">
                                {{#unless loadBalancer}}
                                    <div class="un-subscribe-container"><a class="un-subscribe un-subscribe-btn" data-alias="{{cartridgeAlias}}">Un-subscribe <i class="icons-reload"></i></a></div>
                                {{/unless}}
                                <a href="{{url "/cartridge_info.jag?alias="}}{{cartridgeAlias}}"><h3>{{cartridgeAlias}}-<span>({{displayName}} - {{version}})</span></h3></a>
                                <div class="cartridge-description">{{description}}</div>
                                <div class="cartridge-description">{{repoURL}}  <a class="js_syncRepo" data-value="{{cartridgeAlias}}"><i class="icons-reload"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{else}}
                <div class="col-lg-12">
                    <div class="alert alert-info alert-empty-page">
                        <strong>You haven't subscribed to any Cartridges yet.</strong> Go to <a href="{{url "/cartridges.jag"}}">Subscribe to Cartridge</a> page to start.
                    </div>
                </div>
        {{/each}}
    </div>
</div>


<form method="post" id="cForm" action="{{url "/controllers/cartridgeUnsubscribeSubmit.jag"}}">
        <input type="hidden" name="alias" id="alias" />
</form>
<script src="{{url "/themes/theme1/ui/js/popup.js"}}"></script>
<script src="{{url "/themes/theme1/ui/js/mycartridges.js"}}"></script>
