<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{title}}</h1>
        </div>
    </div>
</div>
{{#each mycartridges}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="h2-wrapper"><h2>{{kind}}</h2></div>
        </div>
    </div>
    <div class="row">
        {{#each cartridges}}
        <div class="col-md-6">
            <div class="box-container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="box-left"><i class="icons-default icons-{{cartridgeType}} big-pro-icons"></i></div>
                    </div>
                    <div class="col-lg-9">
                        <a href="{{url "/cartridge_info.jag?alias="}}{{cartridgeAlias}}"><h3>{{cartridgeAlias}}-<span>({{displayName}} - {{version}})</span></h3></a>
                        <div class="cartridge-description">{{description}}</div>
                        <div class="cartridge-description">{{repoURL}}</div>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/each}}
