<!--

 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.

-->

<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{cartridgeType}} {{cartridge.version}} Cartridge</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post" role="form" action="{{url "/controllers/cartridgeSubscribeSubmit.jag"}}" id="subscribeCartridgeForm">
            <div class="form-group">
                <label class="required">Public URL:</label>
                <div class="form-inline">
                    <input name="cartridgeType" type="hidden" value="{{cartridgeType}}"/>
                    <input name="alias"
                           type="text"
                           class="required form-control input-xlarge js-help"
                           data-help="Specify a unique alias which can be used to generate the hostname as alias.hostname from cartridge"
                           data-help-x-offset="50"
                           data-help-y-offset="10"
                           placeholder="myphp" />
                    <label>.{{cartridge.hostName}}</label>
                </div>
            </div>


            {{#ifCond cartridge.provider "==" "data"}}
            {{else}}
            {{#ifCond cartridge.provider "==" "application"}}
            {{else}}
                <div class="form-group">
                    <label class="required">Repo URL:</label>
                    <div class="form-inline">
                        <input name="repoURL"
                               type="text"
                               class="required form-control input-xlarge js-help"
                               data-help="Specify a repository URL of the artifacts."
                               data-help-x-offset="50"
                               data-help-y-offset="10"
                               placeholder="https://github.com/test/mytestphp.git" />
                    </div>
		    <div class="checkbox">
                        <label>
                            <input name="commitsEnabled" type="checkbox" /> Auto Commit
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="isPublicRepo" type="checkbox" checked="checked" id="public_check" /> This is a public repository
                        </label>
                    </div>
                </div>
            <div id="credential_container" style="display: none;padding-left:20px;margin-left:20px; background: #efefef;padding-bottom:10px;margin-bottom:10px;">
                <h2>Provide Credentials</h2>
                <div class="form-group">
                    <label class="required">Username:</label>
                    <div class="form-inline">
                        <input name="repoUsername" class="required form-control input-xlarge" placeholder="username"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="required">Password:</label>
                    <div class="form-inline">
                        <input name="repoPassword" type="password" class="required form-control input-xlarge" placeholder="******"/>
                    </div>
                </div>
            </div>
             {{/ifCond}}

             {{/ifCond}}


            {{#if cartridge.multiTenant}}
                <input type="hidden" value="{{mtServiceInfo.autoscalingPolicyName}}"  name="autoscalePolicy" />
                <input type="hidden" value="{{mtServiceInfo.deploymentPolicyName}}"  name="deploymentPolicy" />
            {{else}}
                <div class="form-group">
                    <label class="required">Autoscale Policy:</label>
                    <div class="form-inline">
                        <select
                                name="autoscalePolicy"
                                class="form-control input-xlarge js-help"
                                data-help="Please choose a applicable autoscaling policy for the subscription."
                                data-help-x-offset="50"
                                data-help-y-offset="10"
                                >

                            {{#if cartridge.defaultAutoscalingPolicy}}
                                <option>{{cartridge.defaultAutoscalingPolicy}}</option>
                            {{else}}
                               {{#each autoScalePolicies}}
                                   <option>{{id}}</option>
                                {{/each}}
                            {{/if}}


                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="required">Deployment Policy:</label>
                    <div class="form-inline">
                        <select
                                name="deploymentPolicy"
                                class="form-control input-xlarge js-help"
                                data-help="Please choose a applicable deployment policy for the subscription.."
                                data-help-x-offset="50"
                                data-help-y-offset="10"
                                >

                                 {{#if cartridge.defaultDeploymentPolicy}}
                                        <option>{{cartridge.defaultDeploymentPolicy}}</option>
                                {{else}}
                                  {{#each deploymentPolicies}}
                                      <option>{{id}}</option>
                                  {{/each}}
                                {{/if}}


                        </select>
                    </div>
                </div>

            {{/if}}

            {{#if cartridge.persistence.persistanceRequired}}
                 {{#unless cartridge.multiTenant}}

                 <div class="form-group">
                     <label class="required">Persistent Storage:</label>
                     <label>
                         <input name="persistencerequired" type="checkbox" id="volume_check"/> Require Persistent Storage
                     </label>
                 </div>
                     <div id="persistence_container" style="display: none;padding-left:20px;margin-left:20px; background: #efefef;padding-bottom:10px;margin-bottom:10px;">
                             <div class="form-group">
                                 <label class="required">Size(GB):</label>
                             </div>
                             <div class="form-group">
                                 <div class="form-inline">
                                     <input name="size" class="form-control input-xlarge" placeholder="10"/>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label>
                                     <input name="removeOnUnsubscription" type="checkbox" id="volume_check" />Remove On Unsubscription
                                 </label>
                             </div>
                     </div>
                 {{/unless}}
             {{/if}}


            <button type="submit" class="btn btn-primary">Subscribe to Cartridge</button>
            </form>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('.js-help')
                .focus(
                function () {
                    var $input = $(this);
                    var bubbleLeft = $input.offset().left + $input.width();
                    var bubbleTop = $input.offset().top - $input.height() / 2;
                    $('#speech_bubble_container p').html($input.attr('data-help'));
                    bubbleLeft += parseInt($input.attr('data-help-x-offset'));
                    bubbleTop += parseInt($input.attr('data-help-y-offset'));
                    var bubbleWidth = Math.floor($(document).width() - bubbleLeft - 105);
                    $('#speech_bubble_container').css({'width': bubbleWidth + "px"}).show('fast').css({"position": "absolute", "left": bubbleLeft + "px", "top": bubbleTop + "px"});
                    console.info(Math.floor(bubbleWidth));
                }
        ).blur(
                function () {
                    $('#speech_bubble_container').hide();
                });

        var $public_check = $('#public_check');
        if(!$public_check.is(':checked')){
            $('#public_check').prop("checked",true);
        }
        $public_check.click(function(){
            $('#credential_container').toggle($public_check.checked);
        });

        var $volume_check = $('#volume_check');

        if($volume_check.is(':checked')){
            $('#volume_check').prop("checked",false);
        }
        $volume_check.click(function(){
            $('#persistence_container').toggle($volume_check.checked);
        });
        $( "#subscribeCartridgeForm" ).validate();
    });

</script>
