<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{cartridgeType}} {{cartridge.version}} Cartridge</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post" role="form" action="{{url "/controllers/cartridgeSubscribeSubmit.jag"}}">
            <div class="form-group">
                <label class="required">Public URL:</label>
                <div class="form-inline">
                    <input name="cartridgeType" type="hidden" value="{{cartridgeType}}"/>
                    <input name="alias"
                           type="text"
                           class="form-control input-xlarge js-help"
                           data-help="Specify a unique alias which can be used to generate the hostname as alias.hostname from cartridge"
                           data-help-x-offset="50"
                           data-help-y-offset="10"
                           placeholder="myphp" />
                    <label>.{{cartridge.hostName}}</label>
                </div>
            </div>

            {{#if cartridge.persistence.persistanceRequired}}
                <label class="required">Persistence Storage:</label>
                <label>
                    <input name="persistencerequired" type="checkbox" id="volume_check"/> Require Persistence storage
                </label>
                <div id="persistence_container" style="display: none;padding-left:20px;margin-left:20px; background: #efefef;padding-bottom:10px;margin-bottom:10px;">
                    <h2>Persistence Mappings</h2>
                        <div class="form-group">
                            <label class="required">Size:</label>
                            <div class="form-inline">
                                <input name="size" class="form-control input-xlarge" placeholder="10"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                <input name="removeOnUnsubscription" type="checkbox" id="volume_check" />Remove On Unsubscription
                            </label>
                        </div>
                </div>
            {{/if}}
            {{#ifCond cartridge.provider "==" "data"}}
            {{else}}
            {{#ifCond cartridge.provider "==" "application"}}
            {{else}}
                <div class="form-group">
                <label class="required">Repo URL:</label>
                <div class="form-inline">
                    <input name="repoURL"
                           type="text"
                           class="form-control input-xlarge js-help"
                           data-help="Specify a repository URL of the artifacts."
                           data-help-x-offset="50"
                           data-help-y-offset="10"
                           placeholder="myphp" />
                </div>
                <div class="checkbox">
                    <label>
                        <input name="isPublicRepo" type="checkbox" checked="checked" id="public_check" /> This is a public repository
                    </label>
                </div>
            </div>
            <div id="credential_container" style="display: none;padding-left:20px;margin-left:20px; background: #efefef;padding-bottom:10px;margin-bottom:10px;">
                <h2>Provide Credentials</h2>
                <div class="form-group">
                    <label class="required">Username:</label>
                    <div class="form-inline">
                        <input name="repoUsername" type="url" class="form-control input-xlarge" placeholder="myphp"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="required">Password:</label>
                    <div class="form-inline">
                        <input name="repoPassword" type="url" class="form-control input-xlarge" placeholder="myphp"/>
                    </div>
                </div>
            </div>
             {{/ifCond}}

             {{/ifCond}}

             <div class="form-group">
                <label class="required">Autoscale Policy:</label>
                <div class="form-inline">
                    <select
                            name="autoscalePolicy"
                            class="form-control input-xlarge js-help"
                            data-help="Please choose a applicable autoscaling policy for the subscription."
                            data-help-x-offset="50"
                            data-help-y-offset="10"
                            >
                        {{#each autoScalePolicies}}
                        <option>{{id}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="required">Deployment Policy:</label>
                <div class="form-inline">
                    <select
                            name="deploymentPolicy"
                            class="form-control input-xlarge js-help"
                            data-help="Please choose a applicable deployment policy for the subscription.."
                            data-help-x-offset="50"
                            data-help-y-offset="10"
                            >
                        {{#each deploymentPolicies}}
                            <option>{{id}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Subscribe to Cartridge</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('.js-help')
                .focus(
                function () {
                    var $input = $(this);
                    var bubbleLeft = $input.offset().left + $input.width();
                    var bubbleTop = $input.offset().top - $input.height() / 2;
                    $('#speech_bubble_container p').html($input.attr('data-help'));
                    bubbleLeft += parseInt($input.attr('data-help-x-offset'));
                    bubbleTop += parseInt($input.attr('data-help-y-offset'));
                    var bubbleWidth = Math.floor($(document).width() - bubbleLeft - 105);
                    $('#speech_bubble_container').css({'width': bubbleWidth + "px"}).show('fast').css({"position": "absolute", "left": bubbleLeft + "px", "top": bubbleTop + "px"});
                    console.info(Math.floor(bubbleWidth));
                }
        ).blur(
                function () {
                    $('#speech_bubble_container').hide();
                });

        var $public_check = $('#public_check');
        if(!$public_check.is(':checked')){
            $('#public_check').prop("checked",true);
        }
        $public_check.click(function(){
            $('#credential_container').toggle($public_check.checked);
        });

        var $volume_check = $('#volume_check');

        if($volume_check.is(':checked')){
            $('#volume_check').prop("checked",false);
        }
        $volume_check.click(function(){
            $('#persistence_container').toggle($volume_check.checked);
        });
    });

     $('#alias').keyup(function(){
        if($(this).val() != ""){
             $('#domainMessage').show().html('Domain is not available').addClass('noDomain').removeClass('hasDomain');
        }

    });

</script>
