{{#if isForm}}
    <div id="centered">
        <div class="row title">
            <div class="title-main text-center">
                {{#if isForm}}
                    {{#if isEdit}}
                        <h1>{{formTitle}}</h1>
                    {{else}}
                        <h1>Add New {{formTitle}}</h1>
                    {{/if}}
                {{else}}
                    <h1>{{formTitle}}</h1>
                {{/if}}
            </div>
        </div>
        {{#if isForm}}
            <div class='container' id='content'>
                <div class='row'>
                    <div class='container text-center form-toolbar'>
                        {{#if isEdit}}
                            <div class='col-md-1'><button class='btn btn-default btn-lg' type='button' onclick='window.location.replace(document.referrer)'> Back</button></div>
                        {{else}}
                        <div class='col-md-5'>
                            <div class="editor-button">
                                <span class='pull-left'>Editor
                                <input type="checkbox" name="editor-view" id='editortoggle' checked>
                                </span>
                                <span class="auto-correct"><input type="checkbox" checked id="auto-correct-check">Auto correct with schema</span>
                            </div>

                        </div>
                        <div class='col-md-7'>
                            <button class='btn btn-info btn-lg pull-right' type='button' id='deploy' data-form='{{formContext}}'> Add {{formTitle}}</button>
                            <button class='btn btn-default btn-lg pull-right button-gap' type='button' onclick='window.location.replace(document.referrer)'> Cancel</button>

                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class='form' action='#' id='textform'></div>
                <div id='jsonform'>
                    <div class='form-group'>
                        <div class='form' action='#'>
                            <textarea placeholder='JSON Editor' id='jsoneditor' class='form-control'></textarea>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
{{else}}
    <div class="row title">
        <div class="title-main text-center">
            <h1>{{formTitle}}s</h1>
        </div>
    </div>
    <div class="container content">
        <div class="row text-center">

            {{#if content_body.sections}}
                <div class="row form-toolbar ">
                    <div class="col-md-5 col-sm-3 text-left">
                        <!--<input type="text" class="form-control" placeholder="Search">-->
                        <div class="btn-group">
                            <a href="#" id="list" class="btn btn-default">
                                <i class="fa fa-list-ul"></i> List
                            </a>
                            <a href="#" id="grid" class="btn btn-default">
                                <i class="fa fa-th"></i> Grid
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-3 text-right">
                        <a type="button" class="btn btn-primary btn-lg add-button" href="new/">Add
                            New {{buttonText}}</a>
                    </div>
                </div>
            {{else}}
                <div class="row no-item row-overide">
                    <div class="row title">
                        <h2>No {{buttonText}} found..</h2>
                        {{#if dependancy}}
                            <h3>You need to add <i>{{dependancy}}</i> before {{formTitle}}</h3>
                            <a type="button" class="btn btn-primary btn-lg" href="../{{dependancy}}/new/">Add New {{dependancy}}</a>
                            {{else}}
                            <a type="button" class="btn btn-primary btn-lg" href="new/">Add New {{buttonText}}</a>
                        {{/if}}

                    </div>
                </div>
            {{/if}}

            <div class="row general-table row-overide">
                {{#ifCond formtype "==" "docker"}}
                    {{#each content_body.sections}}
                        <div class="block col-md-4 grid-group-item border-right">
                            <div class="toggle-menu-icon">
                                <i class="fa fa-gears "></i>
                            </div>
                            <h2 class="truncate">{{clusterId}} </h2>

                            <div class="toggle-menu-description">{{description}}</div>
                            <div class="list-button" style="display: none;">
                                <button class="btn btn-info btn-lg hover-details" type="button" id="details_list_{{id}}"
                                        data-url="{{url ""}}/configure/docker/{{clusterId}}/" > Details
                                </button>
                            </div>
                            <div class="bottom-bar-wrapper">
                                <div class="bottom-bar">
                                    <button class="btn btn-info btn-lg hover-details" type="button" id="details_{{id}}"
                                            data-url="{{url ""}}/configure/docker/{{clusterId}}/" > Details
                                    </button>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/ifCond}}
                {{#ifCond formtype "==" "cartridges"}}
                    {{#each content_body.sections}}
                        <div class="block col-md-4 grid-group-item border-right">
                            <div class="toggle-menu-icon">
                                <i class="fa icon-{{type}} fa-inbox "></i>
                            </div>
                            <h2 class="truncate">{{displayName}} </h2>

                            <div class="toggle-menu-description">{{description}}</div>
                            <div class="list-button" style="display: none;">
                                <button class="btn btn-danger btn-lg hover-delete" type="button"
                                        id="{{type}}" data-formtype="delete-cartridge"> Delete</button>
                                <button class="btn btn-info btn-lg hover-details" type="button" id="details_list_{{id}}"
                                        data-url="{{url ""}}/configure/{{../formtype}}/{{type}}/" > Details
                                </button>
                            </div>
                            <div class="bottom-bar-wrapper">
                                <div class="bottom-bar">
                                    <button class="btn btn-danger btn-lg hover-delete" type="button"
                                            id="{{type}}" data-formtype="delete-cartridge"> Delete</button>
                                    <button class="btn btn-info btn-lg hover-details" type="button" id="details_"
                                            data-url="{{url ""}}/configure/{{../formtype}}/{{type}}/" > Details
                                    </button>


                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/ifCond}}
                {{#ifCond formtype "==" "autoscalingpolicies"}}
                    {{#each content_body.sections}}
                        <div class="block col-md-4 col-xs-4 grid-group-item border-right">
                            <div class="toggle-menu-icon">
                                <i class="fa fa-expand "></i>
                            </div>
                            <h2 class="truncate">{{id}} </h2>

                            <div class="toggle-menu-description">{{description}}</div>
                            <div class="list-button" style="display: none;">
                                <button class="btn btn-info btn-lg hover-details" type="button" id="details_list_{{id}}"
                                        data-url="{{url ""}}/configure/autoscalingpolicies/{{id}}/" > Details
                                </button>
                            </div>
                            <div class="bottom-bar-wrapper">
                                <div class="bottom-bar">
                                    <button class="btn btn-info btn-lg hover-details" type="button" id="details_{{id}}"
                                            data-url="{{url ""}}/configure/autoscalingpolicies/{{id}}/" > Details
                                    </button>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/ifCond}}
            </div>
        </div>
    </div>
{{/if}}
<script>

    $(document).ready(function () {
        {{#if isForm}}
            // Set the default CSS theme and icon library globally
            JSONEditor.defaults.theme = 'bootstrap3';
            JSONEditor.defaults.iconlib = 'fontawesome4';
            JSONEditor.defaults.show_errors = "always";

            // This is the starting value for the editor
            // We will use this to seed the initial editor
            // and to provide a "Restore to Default" button.
            {{#if isEdit}}
                var starting_value = {{{formDataEdit}}};
            {{else}}
                var starting_value = {{{formDataRaw}}};
            {{/if}}

            // Initialize the editor
            var editor = new JSONEditor(document.getElementById('textform'), {
                // Enable fetching schemas via ajax
                ajax: false,
                disable_edit_json: true,
                //  disable_properties:true,
                // The schema for the editor
                schema: {{{formData}}},
                format: "grid",

                // Seed the form with a starting value
                startval: starting_value
            });

            JSONEditor.prototype.showErrors = function () {
                this.setOption('show_errors', 'always');
            }
            {{#if isEdit}}
                editor.disable();
            {{/if}}

            //    Hook up the validation indicator to update its
            //    status whenever the editor changes
            editor.on('change', function () {
                // Get an array of errors from the validator
                var errors = editor.validate();
                if (errors.length) {
                    for (var i = 0; i < errors.length; i++) {
                        var n = noty({text: errors[i].message + ' in ' + errors[i].path, layout: 'bottomRight',
                            type: 'error', timeout: 2000});
                    }

                }

            });

            /**
             * Function to handle hiding and showing the JSON form
             */
            $('input[name="editor-view"]').on('switchChange.bootstrapSwitch', function(event, state) {
                if (isForm) {

                    changeDisplayMode('#textform', '#jsonform');
                    $('#editortoggle').text('Form View');
                    isForm = false;
                    $('textarea#jsoneditor').val(JSON.stringify(editor.getValue(), null, '\t'));
                } else {

                    changeDisplayMode('#jsonform', '#textform');
                    $('#editortoggle').text('JSON Editor');
                    editor.validate();
                    editor.setValue(JSON.parse($('textarea#jsoneditor').val()));
                    isForm = true;
                    // Fire a change event to force revalidation
                    editor.onChange();
                }

                if(state){
                    $('.auto-correct').css({"display":"block"});
                }else{
                    $('.auto-correct').css({"display":"none"});
                }
            });


            // Finding the height of the rendered form, and setting the JSON
            // editor to the same height
            var formHeight = $('#textform').height();
            $('#jsoneditor').css('height', formHeight);

            //handle changes happens on json editor
            $('textarea#jsoneditor').on('keyup', function (event) {
                //valiadate raw json and do validation
                try {
                    var rawEditValidate = JSON.parse($('textarea#jsoneditor').val());
                    $(this).addClass("has-success").removeClass('has-error');
                    $('input[name="editor-view"]').bootstrapSwitch('readonly', false, true);
                    $('#deploy').prop('disabled', false);
                } catch (e) {
                    $(this).addClass("has-error").removeClass('has-success');
                    $('#deploy').prop('disabled', true);
                    $('input[name="editor-view"]').bootstrapSwitch('readonly', true, false);
                    return false;
                }

                var autoCorrect = $('#auto-correct-check:checked').val();

                if (rawEditValidate && autoCorrect ) {

                    editor.setValue(rawEditValidate);
                    editor.onChange();
                    if (event.keyCode == '13' || event.keyCode == '32') {
                    }else{
                        $('textarea#jsoneditor').val(JSON.stringify(editor.getValue(), null, '\t'));
                    }

                }else if(rawEditValidate){
                    editor.setValue(rawEditValidate);
                    editor.onChange();
                }

            });

        {{else}}
            $('.general-table .grid-group-item').hover(function () {
                if($(this).hasClass('grid-group-item')) {
                    $(this).find('.bottom-bar').stop().animate({bottom: '37px'}, 'slow');
                }
            }, function () {
                if($(this).hasClass('grid-group-item')) {
                    $(this).find('.bottom-bar').stop().animate({bottom: '-32px'}, 'slow');
                }
            });

            $('.general-table').on('click', '.hover-details', function (event) {
                window.location = $(this).attr("data-url");
            });
        {{/if}}



        $('#deploy').click(function () {

            var payload = editor.getValue();
            var btn = $(this);
            var formtype = '{{formContext}}';
                    btn.html("<i class='fa fa-spinner fa-spin'></i> Adding...");
            $.ajax({
                type: "POST",
                url: caramel.context + "/controllers/configure/configure_requests.jag",
                dataType: 'json',
                data: { "formPayload": JSON.stringify(payload), "formtype": formtype },
                success: function (data) {
                    if (data.status == 'error') {
                        var n = noty({text: data.message, layout: 'bottomRight', type: 'error'});
                    } else if (data.status == 'warning') {
                        var n = noty({text: data.message, layout: 'bottomRight', type: 'warning'});
                    } else {
                        var n = noty({text: data.message, layout: 'bottomRight', type: 'success'});
                    }
                }
            })
                    .always(function () {
                        btn.html('Add' + '{{formTitle}}');
                    });

        });//end of deploy button trigger

        $('.general-table').on('click', '.hover-delete', function (event) {

            var payload =$(this).attr("id");
            var formtype = $(this).attr("data-formtype");
            var configType = '{{formtype}}';
            noty({
                layout: 'bottomRight',
                type: 'warning',
                text: 'Are you sure you want to delete '+configType+': <strong>'+$(this).attr("id") + "</strong> ?",
                buttons: [
                    {addClass: 'btn btn-primary', text: 'Yes', onClick: function($noty) {
                        $noty.close();

                        $.ajax({
                            type: "POST",
                            url: caramel.context + "/controllers/configure/configure_requests.jag",
                            dataType: 'json',
                            data: { "formPayload": payload, "formtype": formtype },
                            success: function (data) {
                                if (data.status == 'error') {
                                    var n = noty({text: data.message, layout: 'bottomRight', type: 'error'});
                                } else if (data.status == 'warning') {
                                    var n = noty({text: data.message, layout: 'bottomRight', type: 'warning'});
                                } else {
                                    var n = noty({text: data.message, layout: 'bottomRight', type: 'success'});
                                }
                                window.setTimeout(function(){
                                    location.reload();
                                }, 1000);
                            }
                        }).always(function () {

                        });

                    }
                    },
                    {addClass: 'btn btn-danger', text: 'No', onClick: function($noty) {
                        $noty.close();
                    }
                    }
                ]
            });
        });

      //  $('div[data-schemapath="root"]').find('h3 span').first().css({"display":"none"} );

        $.fn.bootstrapSwitch.defaults.onText = 'JSON';
        $.fn.bootstrapSwitch.defaults.offText = 'UI';
        $("[name='editor-view']").bootstrapSwitch('state', false, true);

    });

</script>
