<div class="sub-header">
    <h2>
        <a href="{{url ""}}">
            <i class="fa fa-home"></i>
        </a>
        <a href="{{url ""}}/{{breadcrumbPathLevelOne}}/">
            /{{breadcrumbPathLevelOne}}
        </a>
        <a href="{{url ""}}/{{breadcrumbPathLevelOne}}/{{breadcrumbPathLevelTwo}}/">
            /{{breadcrumbPathLevelTwo}}
        </a>
    </h2>
</div>